<div class="card-container">
    <div class="card u-clearfix">
      <div class="card-body">
        <span class="card-author subtle">{{foodInfo.name}}</span>
        <h2 class="card-title">RS. {{foodInfo.price}}</h2>
        <span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
        <div class="card-read">Read</div>
         customer rating {{foodInfo.rating}}
        <span class="card-tag card-circle subtle">C</span>
      </div>
      <img src="{{foodInfo.img}}" alt="" class="card-media" />
    </div>
    <div class="card-shadow"></div>
  </div>